@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Rule: font-family: 'Nunito', sans-serif; */

/* PALLETE LINK: https://coolors.co/162942-4a64b8-859cd0-a7bcdc-de5834-f9fbfc-272c2c */

body {
    background-color: #859CD0;
    display: flex;
}

.block {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0px;
    justify-content: space-evenly;
    align-items: center;
}

.block_box {
    background-color: #162942;
    width: 1280px;
    height: 80%;
    box-shadow: 0px 4px 60px rgba(161, 175, 174, 0.25);
    border-radius: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.block_box_line {
    background-color: #859CD0;
    height: auto;
    width: 5px;
}

.block_lines {
    position: absolute;
    top: auto;
    left: auto;
    display: flex;
    height: 80%;
    align-self: flex-end;
}

.block_blue_line {
    height: 100%;
    width: 5px;
    background-color: #859CD0;
    margin-right: 5px;
}

.block_orange_line {
    height: 100%;
    width: 5px;
    background-color: #DE5834;
    margin-right: 40px;
}

/* CLINIC CONFIG */
.clinic_config {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.clinic_config_action {
    height: 110px;
    width: 215px;
    background-color: #4A64B8;
    border-radius: 20px;
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 150%;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

/* CLINIC FORM */
.clinic_form {
    height: 100%;
    width: 73%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.clinic_form_row {
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-between;
    z-index: 9;
    margin-top: 20px;
}

.clinic_form_row_block {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 9;
}

.clinic_form_row a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 150%;
    font-weight: 700;
    align-self: flex-start;
    text-align: center;
    text-transform: uppercase;
    margin-left: 25px;
    margin-bottom: 5px;
}

.clinic_form_row input {
    height: 45px;
    width: 445px;
    background-color: #4A64B8;
    border: none;
    border-radius: 25px;
    padding-left: 25px;
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 100%;
}

.clinic_form_save {
    height: 45px;
    width: 170px;
    background-color: #4A64B8;
    border: none;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 130%;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 9;
    cursor: pointer;
}

.clinic_form_form {
    height: 80%;
    width: auto;
}