@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Rule: font-family: 'Nunito', sans-serif; */

/* PALLETE LINK: https://coolors.co/162942-4a64b8-859cd0-a7bcdc-de5834-f9fbfc-272c2c */

body {
    background-color: #859CD0;
}

.block {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0px;
    justify-content: space-around;
    align-items: center;
}

.block_box {
    background-color: #f9fbfc;
    width: 1280px;
    height: 80%;
    box-shadow: 0px 4px 60px rgba(161, 175, 174, 0.25);
    border-radius: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action_user {
    background-color: #162942;
    height: auto;
    width: 30%;
    border-radius: 25px 0px 0px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.action_apps {
    background-color: #162942;
    height: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.action_clinics {
    background-color: #162942;
    height: auto;
    width: 30%;
    border-radius: 0px 25px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.action_txt {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 250%;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-top: 7%;
}

.action_block_lines {
    top: 50%;
    left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.action_block_blue_line {
    height: 10px;
    width: 100%;
    background-color: #859CD0;
    margin-bottom: 15px;
}

.action_block_orange_line {
    height: 10px;
    width: 100%;
    background-color: #DE5834;
}

.action_img {
    height: 40%;
    width: auto;
}