@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Rule: font-family: 'Nunito', sans-serif; */

/* PALLETE LINK: https://coolors.co/162942-4a64b8-859cd0-a7bcdc-de5834-f9fbfc-272c2c */

body {
    background-color: #859CD0;
}

/* BOX */
.block {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0px;
    justify-content: space-around;
    align-items: center;
}

.block_box {
    background-color: #f9fbfc;
    width: 1280px;
    height: 80%;
    box-shadow: 0px 4px 60px rgba(161, 175, 174, 0.25);
    border-radius: 30px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.block_box_line {
    background-color: #859CD0;
    height: auto;
    width: 5px;
}

/* PATIENTS */
.patients_list {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.patients_list p1 {
    font-family: 'Nunito', sans-serif;
    color: #272C2C;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

.patients_list_block_lines {
    position: absolute;
    top: auto;
    left: auto;
    display: flex;
}

.patients_list_block {
    height: 80px;
    width: 400px;
    background-color: #162942;
    border-radius: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.patients_list_block_blue_line {
    height: 80px;
    width: 5px;
    background-color: #859CD0;
    margin-right: 5px;
}

.patients_list_block_orange_line {
    height: 80px;
    width: 5px;
    background-color: #DE5834;
    margin-right: 40px;
}

.patients_list_block_info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.patients_list_block_info_txt {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: left;
    margin-left: 25px;
}

.patients_list_block_info_txt a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.description_btn {
    background: #f9fbfc;
    box-shadow: 0px 4px 60px rgba(161, 175, 174, 0.25);
    border-radius: 20px;
    height: 30px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    margin-right: 25px;
    border: none;
    font-family: 'Nunito', sans-serif;
    color: #272C2C;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

/* NEXT */
.next_ap {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.next_ap p1 {
    font-family: 'Nunito', sans-serif;
    color: #272C2C;
    font-size: 30px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

.next_ap_block {
    height: 500px;
    width: 360px;
    background-color: #162942;
    border-radius: 30px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.next_ap_block_lines {
    position: absolute;
    top: auto;
    left: auto;
    display: flex;
}

.next_ap_block_blue_line {
    height: 500px;
    width: 5px;
    background-color: #859CD0;
    margin-right: 5px;
}

.next_ap_block_orange_line {
    height: 500px;
    width: 5px;
    background-color: #DE5834;
    margin-right: 40px;
}

.next_ap_block_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.next_ap_block_info_txt {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: left;
    margin-left: 25px;
}

.next_ap_block_info_txt a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.next_ap_description {
    display: flex;
    height: auto;
    width: auto;
    height: 130px;
    width: 330px;
    background-color: #4A64B8;
    border-radius: 25px;
    margin-left: 15px;
    z-index: 9;
}

.next_ap_description p1 {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 15px;
    font-weight: 600;
    padding-left: 15px;
    padding-top: 15px;
    text-transform: none;
    align-self: flex-start;
}

textarea::placeholder {
    color: #f9fbfc;
}

.next_ap_block_info_data {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-right: 65px;
}

.next_ap_block_info_data a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.next_ap_block_info_data span {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: left;
    margin-left: 20px;
}

/* THIRD COLUMN */
.third_column_block {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: space-between;
}

/* CLOCK */
.clock_block {
    height: 160px;
    width: 355px;
    background-color: #162942;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.clock_block a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    margin: 15px 0px;
}

#clock_box {
    height: 100px;
    width: 315px;
    background-color: #4A64B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin-bottom: 20px;
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

/* IMG */
.third_column_block img {
    height: 300px;
    width: auto;
    display: flex;
    align-self: flex-end;
}