@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Rule: font-family: 'Nunito', sans-serif; */

/* PALLETE LINK: https://coolors.co/162942-4a64b8-859cd0-a7bcdc-de5834-f9fbfc-272c2c */

body a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* HEADER */
header {
    background-color: #4A64B8;
    box-shadow: 0px 4px 60px rgba(161, 175, 174, 0.25);
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 99;
}

.header {
    height: auto;
    width: auto;
}

.spmg {
    height: auto;
    width: 230px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.spmg a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
}

.spmg span {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.spmg img {
    height: 68px;
    width: auto;
}

.spmgback {
    height: 40px;
    width: 230px;
    display: flex;
    justify-content: space-between;
    padding-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.welcoming {
    height: auto;
    width: auto;
    padding-left: 25px;
}

.welcoming a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.welcoming span {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: bolder;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.menu {
    height: auto;
    width: 670px;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.menu a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 16.5px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.menu span {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 16.5px;
    font-weight: 700;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.login_btn {
    height: auto;
    width: auto;
    padding: 10px 22px;
    border: 3px solid #FBFFFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

/* FOOTER */
footer {
    height: 110px;
    width: auto;
    background: #4A64B8;
    box-shadow: 0px 4px 60px rgba(161, 175, 174, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 30px;
    font-weight: 600;
    align-self: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
}

footer span {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 20px;
    font-weight: 400;
    align-self: center;
    text-align: center;
}