@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
/* Rule: font-family: 'Nunito', sans-serif; */

/* PALLETE LINK: https://coolors.co/162942-4a64b8-859cd0-a7bcdc-de5834-f9fbfc-272c2c */

body {
    background-color: #859CD0;
}

.body_img {
    height: 80%;
    width: auto;
    align-self: flex-end;
}

.block {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0px;
    justify-content: space-around;
}


.login_box {
    height: 530px;
    width: 860px;
    background-color: #162942;
    border-radius: 30px;
    align-self: center;
    display: flex;
    justify-content: right;
    margin-top: 100px;
}

.login_box_info {
    display: flex;
}

.login_lines {
    display: flex;
    flex-direction: row;

}

.login_box_blue_line {
    height: 530px;
    width: 10px;
    background-color: #859CD0;
    margin-right: 10px;
}

.login_box_orange_line {
    height: 530px;
    width: 10px;
    background-color: #DE5834;
    margin-right: 80px;
}

.login_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin-right: 145px;
    align-self: center;
}

.login_info a {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 25px;
}

.user_info {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}

.login_info span {
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 27px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
}

.login_info input {
    height: 45px;
    width: 680px;
    background-color: #4A64B8;
    border: none;
    border-radius: 25px;
    padding-left: 15px;
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    font-size: 100%;
}

.login_btn2 {
    height: 50px;
    width: 140px;
    padding: 10px 22px;
    border: none;
    background-color: #4A64B8;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    color: #f9fbfc;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16.5px;
    cursor: pointer;
}

.loginbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    cursor: pointer;
}